body {
    background: #000;
    color: #FFF;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

body::-webkit-scrollbar {
    border-radius: 5px;
    width: 10px;
    background-color: #1C1C1C;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #fff;
}

.container {
    @media (max-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 100px);
    }
}

.conteudo {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #2b2a2a;
    padding: 55px;
    border-radius: 12px;

    @media(max-width: 600px) {
        width: 1120px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }
}

.conteudo h1 {
    display: flex;
    justify-content: center;
}

.topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    @media(max-width: 600px) {
        overflow-x: auto;
        height: inherit;
    }
}

.topo input {
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #191818;
    outline: none;
    font-size: 1.2rem;
    background: #191818;
    color: #FFF;
}

.topo button {
    width: 45px;
    border-radius: 12px;
    border: 1px solid #191818;
    background: #191818;
    color: #FFF;
    outline: none;
}

.topo button:hover {
    background: #1f1e1e;
    cursor: pointer;
}

#listaTarefas {
    list-style-type: none;
    /*Retira a bolinha da lista*/
    padding: 0;
    margin: 0;

    @media(max-width: 600px) {
        overflow-x: auto;
        height: inherit;
    }
}

#listaTarefas li {
    padding: 20px;
    background: #191818;
    border-radius: 12px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnAcao {
    border-radius: 20px;
    border: 1px solid #191818;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background: #2b2a2a;
    color: #FFF;
    outline: none;
}

.btnAcao:hover {
    background: #3c3a3a;
}

.textoTarefa{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    /* white-space: nowrap; */
}


/*-------------------------------------------------------------JANELA DE EDIÇÃO*/

#janelaEdicao{
    position: fixed;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Forçar a centralização vertical*/
    padding: 20px;
    background: #191818;
    border: 1px solid #2f2e2e;
    width: 415px;
    border-radius: 12px;
    z-index: 200;
    display: none;
}

#janelaEdicao.abrir{
    display: block !important; /*A regra vai se sobresair ao display:none*/
}

#janelaEdicaoFundo{
    position: fixed;
    top: 0;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 100;
    right: 0;
    display: none;
}

#janelaEdicaoFundo.abrir{
    display: block !important; /*A regra vai se sobresair ao display:none*/
}

#janelaEdicaoBtnFechar{
    position: absolute;
    top: -25px;
    right: -18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #2d2c2c;
    background: #2d2c2c;
    color: #FFF;
    outline: none;
    cursor: pointer;
}

form{
    width: 100%;
    margin-top: 20px;
}

.frm-linha{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.frm-linha label{
    margin-bottom: 7px;
}

.frm-linha input{
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #191818;
    font-size: 1.2rem;
    background: #2d2c2c;
    color: #FFF;
}

.frm-linha button{
    background: #2d2c2c;
    border: 1px solid #191818;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: #CCC;
    cursor: pointer;
    height: 40px;
    font-size: 1.3rem;
    outline: none;
}

.frm-linha button:hover{
    background: #3c3a3a;
}